<ion-header>
  <ion-toolbar>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Alimentación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El Pincher Mini necesita una dieta balanceada para mantenerse saludable. Se recomienda alimentarlo con croquetas de alta calidad, adaptadas a su tamaño y edad. Su porción diaria dependerá de su peso y nivel de actividad, pero generalmente se recomienda alimentar a un Pincher Mini dos veces al día.</p>
            <ul>
              <li>Comida húmeda o seca, pero de buena calidad.</li>
              <li>Asegúrate de que siempre tenga acceso a agua fresca.</li>
              <li>Evitar darle comida humana, especialmente chocolate y cebolla.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ejercicio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El Pincher Mini es una raza activa, por lo que necesita ejercicio regular para mantenerse en forma. Aunque no requieran grandes espacios, es importante sacarlos a pasear y jugar en casa. Aproximadamente 30 minutos de actividad física al día son suficientes.</p>
            <ul>
              <li>Salidas diarias para pasear y explorar.</li>
              <li>Juegos interactivos como buscar la pelota o el frisbee.</li>
              <li>Evitar sobrecargarlo con demasiada actividad, ya que pueden agotarse rápidamente.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Higiene y cuidado</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El Pincher Mini es una raza de pelo corto, por lo que no requiere grandes cuidados de pelaje, pero sí es importante mantener una higiene adecuada. Asegúrate de limpiarle las orejas, cortar sus uñas y bañar a tu perro de vez en cuando.</p>
            <ul>
              <li>Baños ocasionales, no más de una vez al mes.</li>
              <li>Limpieza de dientes y orejas regularmente.</li>
              <li>Corte de uñas cuando sea necesario, generalmente cada 4-6 semanas.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Salud y bienestar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Como cualquier perro, el Pincher Mini necesita visitas regulares al veterinario para garantizar su salud. Debes estar atento a posibles problemas de salud comunes en la raza, como problemas dentales y articulares.</p>
            <ul>
              <li>Visitas veterinarias anuales para chequeos de salud.</li>
              <li>Vacunación y desparacitación según el calendario de tu veterinario.</li>
              <li>Monitoreo de su peso, ya que tienden a ganar peso rápidamente si no se controla su dieta.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medicinas y Vitaminas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Las vitaminas y suplementos adecuados pueden mejorar la salud y longevidad de tu Pincher Mini. Aquí tienes algunas recomendaciones generales:</p>
            <ul>
              <li>**Multivitamínicos**: Son esenciales para complementar la dieta, especialmente en perros de razas pequeñas. Los multivitamínicos pueden ayudar a mantener una piel sana, un pelaje brillante y un sistema inmunológico fuerte.</li>
              <li>**Ácidos grasos omega-3**: Los suplementos de omega-3, como el aceite de pescado, son excelentes para promover una piel saludable y para el cuidado de las articulaciones.</li>
              <li>**Glucosamina y condroitina**: Ayudan a mantener las articulaciones saludables y reducir la inflamación, muy útiles en razas propensas a problemas articulares.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
