ion-card {
    text-align: center;
  }
  
  ion-img {
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  ion-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  ion-card {
    text-align: center;
  }
  
  ion-img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    border-radius: 10px;
  }
  