<ion-header>
  <ion-toolbar>
    <ion-button class="btn" fill="clear" href="/main">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Registro de mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #dfa1f5; color: black;">
  <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
    <!-- Nombre Completo -->
    <ion-item>
      <ion-label position="stacked">Nombre Completo</ion-label>
      <ion-input formControlName="fullName" type="text"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('fullName')?.invalid && perfilForm.get('fullName')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Teléfono -->
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input formControlName="phoneNumber" type="tel"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('phoneNumber')?.invalid && perfilForm.get('phoneNumber')?.touched">
      <ion-text color="danger">
        <p *ngIf="perfilForm.get('phoneNumber')?.hasError('required')">Este campo es obligatorio</p>
        <p *ngIf="perfilForm.get('phoneNumber')?.hasError('pattern')">Número de teléfono no válido</p>
      </ion-text>
    </div>

    <!-- Foto -->
    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <input type="file" formControlName="photo" accept="image/*">
    </ion-item>
    <div *ngIf="perfilForm.get('photo')?.invalid && perfilForm.get('photo')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Nombre de la Mascota -->
    <ion-item>
      <ion-label position="stacked">Nombre de la Mascota</ion-label>
      <ion-input formControlName="petName" type="text"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('petName')?.invalid && perfilForm.get('petName')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Color de Pelo -->
    <ion-item>
      <ion-label position="stacked">Color de Pelo</ion-label>
      <ion-input formControlName="hairColor" type="text"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('hairColor')?.invalid && perfilForm.get('hairColor')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Enfermedades -->
    <ion-item>
      <ion-label position="stacked">Enfermedades</ion-label>
      <ion-input formControlName="enfermedades" type="text"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('enfermedades')?.invalid && perfilForm.get('enfermedades')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Raza -->
    <ion-item>
      <ion-label position="stacked">Raza</ion-label>
      <ion-input formControlName="breed" type="text"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('breed')?.invalid && perfilForm.get('breed')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Edad -->
    <ion-item>
      <ion-label position="stacked">Edad</ion-label>
      <ion-input formControlName="edad" type="number"></ion-input>
    </ion-item>
    <div *ngIf="perfilForm.get('edad')?.invalid && perfilForm.get('edad')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <!-- Fecha de Nacimiento -->
    <ion-item>
      <ion-datetime formControlName="birthDate"></ion-datetime>
    </ion-item>
    <div *ngIf="perfilForm.get('birthDate')?.invalid && perfilForm.get('birthDate')?.touched">
      <ion-text color="danger">
        <p>Este campo es obligatorio</p>
      </ion-text>
    </div>

    <ion-button expand="block" class="primary-button" routerLink="/perfil">Guardar Mascota</ion-button>

  </form>
</ion-content>
